.tarjeta{background-size:cover;
         background-image:url(../fondotarj/fondo-cliente.png);
         border-radius:10px;
         width: 400px;;
}

.imagen{
        height:300px;  
}

.color-name{color:red;
            list-style:none;
            font-size:1.5rem;
}

.lista-info{font-size:1.3rem;
            color:whitesmoke;
            list-style:none;
            padding:15px;   
            font-weight:900;
}  
            
/* .lista-info:hover{background-color:white;
                  color:black;
                  font-weight:900; 
}   */



