.tarjeta{background-size:cover;
         background-image:url(../imagenes/fondo-cliente.png);
         border-radius:10px;
         width: 400px;;
}

.imagen{
        height:300px;  
}

.color-name{color:red;
            list-style:none;
            font-size:1.5rem;
}

/* .boton-show{background-color:white;
           border:0px;
           border-radius:5px;
           height: 35px;
} */

/* .ancho-tarjeta{width:400px;}  */

/* .cierre-menu{background-color:black;
             color:white;
             border:0px;
             width:30px;
             height:30px;
}         */

.lista-info{font-size:1.3rem;
            color:whitesmoke;
            list-style:none;
            padding:15px;   
            font-weight:900;
}  
            
.lista-info:hover{background-color:white;
                  color:black;
                  font-weight:900; 
}  

 /* .resaltar{font-weight:900} */

